<% provide(:title, 'Home') %>
<!--hero-unit has special meaning to boostrap gem-->
<div class ="center hero-unit">
	<h1>LIBERATE</h1>
	
	<h2>
 		The Library System.
	</h2>
	<!--Add eagle here some here.-->
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

