<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user%>
      <%= link_to user.name, user %>
      	<% if current_user.admin? && !current_user?(user) %>
      		<%= link_to "delete", user, method: :delete, data: { confirm: "You sure?"} %>
      	<%end%>
      	<% if false %>
			Web browsers can’t send DELETE requests natively, so Rails fakes them with JavaScript. This means that the delete links won’t work if the user has JavaScript disabled. If you must support non-JavaScript-enabled browsers you can fake a DELETE request using a form and a POST request, which works even without JavaScript
		<% end %>	
    </li>
<% end %>
</ul>