<%provide(:title,@book.name)%>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%=@book.name%>
				<%=@book.description%>
			</h1>
		</section>
		<%if signed_in? %>
		<section>
			<%=render 'shared/comment_form' %>
		</section>
		<%end%>
		<section>
			<%=render 'shared/comments'%>
		</section>
	</aside>
</div>	